<!-- created posted_detail.html to follow django
        generic detail view structure -->
<!-- copied the structure from home.html and edited some parts -->
<!-- changed the context of the post to object -->
{% extends "blog/base.html" %}
{% block content %}

<article class="media content-section">
    <img src="{{ object.author.profile.image.url }}" alt="" class="rounded-circle article-img">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ object.author }}</a>
            <!-- filterded the date to show only date without time -->
            <small class="text-muted">on {{ object.date_posted|date:"F d, Y" }}</small>
        </div>
        <h2 class="article-title">{{ object.title }}</h2>
        <p class="article-content">{{ object.content }}</p>
    </div>
</article>
{% endblock content %}